aws_region   = "eu-north-1"
project_name = "terraform-zadaci"
environment  = "dev"

# aws_profile = "terraform"
# assume_role_arn = "arn:aws:iam::123456789012:role/TerraformAdminRole"
# bucket_name = "terraform-zadaci-dev-123456789012-eu-north-1"

tags = {
  Owner = "platform-team"
}
